@import url('https://fonts.googleapis.com/css');
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #052d58d9;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  input[type=text] {
    width: 200%;
    padding: 10px 20px;
    /* margin: 8px 0; */
    box-sizing: border-box;
    background-color: lightgrey;
    border: wheat;
  }

  .custom-select {
   width: auto;
  }

  .footerText
  {
      width: 100px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(175 173 173 / 38%);
    color: white;
    text-align: center;
    height: 5%;
  }
  .mat-column-select {
    overflow: initial;
  }
 
  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }

.gray { background-color: #f5f5f5 }
.mat-table
{
  background-color:transparent!important;  
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5em;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}

.headerBgColor{
  background-color: #3949ab;
}

.mat-table {
  overflow: auto;
  max-height: 400px;
  
} 
/* .mat-table {
  width: 100%;
}*/
.example-container {
  height: 400px;
  max-width: 100%;
  overflow: auto;
} 
.mat-table-sticky {
  background: #808c97;
  opacity: 1;
}