<div>
    <app-header></app-header>
</div>
<div>&nbsp;</div>
<div>
    
<section >
    <mat-card>
        <mat-card-content>
            <div class="example-header" fxLayout fxLayoutAlign="end center">
                <mat-form-field>
                    <!-- <md-icon mdPrefix>face</md-icon> -->
                    <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    <!-- <mat-icon matPrefix class="my-icon">sentiment_very_satisfied</mat-icon> -->
                </mat-form-field>
            </div> 
            <!-- <div class="form-group">
                <mat-form-field class="angularformcss no-line " floatLabel="always">
                    <img matPrefix src="https://image.flaticon.com/icons/png/512/23/23765.png" width="24px" height="24px">
                    <md-icon mdPrefix>face</md-icon>
                    <input matInput placeholder="Issue type" (keyup)="applyFilter($event.target.value)" id="issueType">
                </mat-form-field> 
            </div>-->
            <div class="example-container mat-elevation-z8">
            <mat-table #firstTable #firstTableSort="matSort" class="mat-elevation-z8" [dataSource]="filterResultDataSet" [hidden]="!isLoading" matSort>
                <ng-container matColumnDef="header-row-first-group">
                    <mat-header-cell *matHeaderCellDef fxLayoutAlign="space-around center" style="background-color:#00405c;font-size: 16px;color: seashell;">
                        Service Provider Queue
                    </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef> <mat-checkbox class="example-margin">Select All</mat-checkbox></mat-header-cell>
                    <mat-cell *matCellDef="let row"> <mat-checkbox class="example-margin"  [(ngModel)] = "row.select" ></mat-checkbox> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="sp_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> SP ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.sp_id}} </mat-cell>
                </ng-container>

                <!-- Age Definition -->
                <ng-container matColumnDef="sp_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openSPDialog(row);"> <a href="javascript:void(0);">{{row.sp_name}}</a></mat-cell>
                </ng-container>

                <!-- Title Definition -->
                <ng-container matColumnDef="sp_rating">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.sp_rating}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="misc_cost">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Service&nbsp;Rate in&nbsp;Rs.</mat-header-cell>
                    <!-- <mat-cell *matCellDef="let row"> &#8377;{{row.misc_cost}} </mat-cell> -->
                    <mat-cell *matCellDef="let row">{{row.misc_cost}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="s_category_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Category Name</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.s_category_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="s_subcategory_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sub&nbsp;Category Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.s_subcategory_name}} </mat-cell>
                </ng-container>
                <mat-header-row
                *matHeaderRowDef="['header-row-first-group'];">
            </mat-header-row>
                <mat-header-row
                    *matHeaderRowDef="['select','sp_id', 'sp_name', 'sp_rating','misc_cost','s_category_name','s_subcategory_name'];sticky: true">
                </mat-header-row>
                <mat-row
                    *matRowDef="let row;let even = even; columns: ['select','sp_id', 'sp_name', 'sp_rating','misc_cost','s_category_name','s_subcategory_name']"
                    [ngClass]="{gray: even}">
                </mat-row>
            </mat-table>
            <mat-table #secondTable #secondTableSort="matSort" [dataSource]="mySecondTableData" [hidden]="isLoading"
                matSort>
                <ng-container matColumnDef="header-row-first-group">
                    <mat-header-cell *matHeaderCellDef fxLayoutAlign="space-around center" style="background-color:#00405c;font-size: 14px;color: seashell;">
                        Service Provider Queue
                    </mat-header-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef> <mat-checkbox class="example-margin">Select All</mat-checkbox></mat-header-cell>
                    <mat-cell *matCellDef="let row"> <mat-checkbox class="example-margin" >{{row.select}}</mat-checkbox> </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="sr_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SR NO</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.sr_id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="sp_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> SP ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.sp_id}} </mat-cell>
                </ng-container>

                <!-- Age Definition -->
                <ng-container matColumnDef="sp_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openSPDialog(row);"> <a href="javascript:void(0);">{{row.sp_name}}</a></mat-cell>
                </ng-container>

                <!-- Title Definition -->
                <ng-container matColumnDef="sp_rating">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.sp_rating}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="misc_cost">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Service Rate in Rs.</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.misc_cost}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="s_category_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Category Name</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.s_category_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="s_subcategory_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sub&nbsp;Category Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.s_subcategory_name}} </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="time_in">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Time In </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.time_in | date:'d/M/yy, h:mm a'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="time_out">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Time Out </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.time_out | date:'d/M/yy, h:mm a'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalCost">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total&nbsp;Cost in&nbsp;Rs.</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.totalCost}} </mat-cell>
                </ng-container> -->

                <!-- Header and Row Declarations -->
                <mat-header-row
                *matHeaderRowDef="['header-row-first-group'];">
            </mat-header-row>
                <!-- <mat-header-row
                    *matHeaderRowDef="['sr_id','sp_id', 'sp_name', 'sp_rating','misc_cost','s_category_name','s_subcategory_name','time_in','time_out','totalCost'];sticky: true">
                </mat-header-row>
                <mat-row
                    *matRowDef="let row; let even = even; columns: ['sr_id','sp_id', 'sp_name', 'sp_rating','misc_cost','s_category_name','s_subcategory_name','time_in','time_out','totalCost']"
                    [ngClass]="{gray: even}">
                </mat-row> -->
                <mat-header-row
                *matHeaderRowDef="['sr_id','sp_id', 'sp_name', 'sp_rating','misc_cost','s_category_name','s_subcategory_name'];sticky: true">
            </mat-header-row>
            <mat-row
                *matRowDef="let row; let even = even; columns: ['sr_id','sp_id', 'sp_name', 'sp_rating','misc_cost','s_category_name','s_subcategory_name']"
                [ngClass]="{gray: even}">
            </mat-row>
            </mat-table>
        </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <!-- <div>&nbsp;</div> -->
            <div style="align-items: center;">
                <button mat-raised-button color="primary" (click)="gridBack()" [hidden]="isLoading"> Back to Queue</button> &nbsp;&nbsp;
                <button mat-flat-button color="primary" (click)="confirmSR()" [hidden]="!isLoading">Confirm SR</button>

            </div>
        </mat-card-content>
    </mat-card>
</section>
</div>
<div class="footer">
    <div>
        <b style="padding-right: 18em;font-weight: lighter;" id="about-us">About US</b>
        <b style="padding-right: 18em;font-weight: lighter;" id="terms">Terms</b>
        <b style="padding-right: 18em;font-weight: lighter;" id="privacy">Privacy</b>
        <b style="padding-right: 18em;font-weight: lighter;" id="settings">Settings</b>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>