<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<div class="header">
 
    <div >
  
    </div>
  </div>
<div class="image-aboutus-banner"style="margin-top:70px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">About Us</h1>
         <p class="image-aboutus-para">Our mission is to organise the customer and their service provider information and make it universally accessible and useful</p>
       </div>
    </div>
</div>
</div>
<div class="bread-bar">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-8 col-sm-6 col-xs-8">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
            	</div>
                <div class="col-md-4 col-sm-6 col-xs-4">
                </div>
            </div>
      	</div>
    </div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">Our Vision:- </h1>
                        <p class="lead">Home of the Future</p>
                    </div>
                    <div class="col-md-6">
                    	<p>People can use this application to search for different types of service provider (SP) which will provide services like Plumbing, electrical appliances maintenance, interior design, room painting etc. This application will display different types of Service Provider names along with their locations, ratings, service rates and covid vaccination status. User can search and choose Service Provider using their location as well as their ratings or service rate. This application will help the user to get right service provider with exact services they want. </p>
                        
                    </div>
</div>
</div>
    
</div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">OUR COMMITMENTS:-  </h1>
                        <p class="lead">search SP  </p>
                        <p>User can search different types of Service Provider (SP) in Smart Home facility management application to get their required services. User can search SP with their nearby location, user ratings and service charges. </p>
                        <p class="lead">Locate SP </p>
                        <p>User can choose SP based on their location. All the SP location      details are available in the smart home facility management application. User can select the SP and track the SP locations when they are assigned to the user. </p>
                        <p class="lead">Queue different SR  </p>
                        <p>One user can select different SP for their different services. A user can select plumbing as well as room painting services from different SP. So, this app will help the user to Wishlist their items into the queue and they can select any one of the item from there. SP will be assigned when they choose any one SP from there. </p>
                        <p class="lead">Rating </p>
                        <p>User can provide ratings based on their experience to each Service provider. These ratings will be displayed along with the SP names. This will help the new customer to select the right SP who is best at those particular services. So, the selection time will be reduced to choose the best SP in that particular service they offered. </p>
                    </div>
                
</div>
</div>
    
</div>

    <div>
        <img src="../../assets/team.PNG"  width="100%" height="10%">
    </div>



