<router-outlet></router-outlet>
<div class="header">
 
  <div >

  </div>
</div>
<div >
<img src="../../assets/Home.PNG" style="    
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
top: 89px;
" works for me class="img-responsive center-block"  alt="image" />
</div>
<div class="main">
  
  <!-- Actual search box -->
 
  <div class="form-group has-search">
    <span  style ="right: 60.5%;" class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" style="display: block;
    margin-left: auto;
    margin-right: auto;
    top: 99px;
    position: relative;" matInput
           [formControl]="myControl"
           [matAutocomplete]="auto" placeholder="Enter Service Name" id="searchedKeyword" [(ngModel)]="searchedKeyword" >
    
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    
    </mat-autocomplete>
    <span style="right: 38%;" class="fa fa-microphone  form-control-feedback" (click)="startService()"></span>
   <div style="display: none;" class="card bg-light mt-2">
    <p class="text-uppercase text-danger mt-3">{{text}}</p>
  </div>

  </div>

</div>



  <!--<input type="text"  placeholder="Enter Keyword for filter result" id="searchedKeyword" [(ngModel)]="searchedKeyword"> <button style="position: absolute;
  top: 7%;
  left: 30%;" type="button" (click)="startService()"><i class="fa fa-microphone" style="font-size:34px"></i></button></tr>
  <div style="display: none;" class="card bg-light mt-2">
    <p class="text-uppercase text-danger mt-3">{{text}}</p>
  </div>-->



<!--<table class="table table-striped">
  <thead>
      <tr>
          <th>Category</th>
          <th>SubCategory</th>
          <th>Location</th>
          <th>Rating</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of filterResultDataSet | filter:searchedKeyword">
          <td>{{item.category}}</td>
          <td>{{item.subCategory}}</td>
          <td>{{item.Location}}</td>
          <td>{{item.rating}}</td>
      </tr>
  </tbody>
</table>-->
<div class="footer">
 
      <div >

        <b style="padding-right: 18em;font-weight: lighter;" id="about-us">About US</b>
        <b style="padding-right: 18em;font-weight: lighter;" id="terms">Terms</b>
        <b style="padding-right: 18em;font-weight: lighter;" id="privacy">Privacy</b>
        <b  style="padding-right: 18em;font-weight: lighter;" id="settings">Settings</b>
      </div>
  </div>
  

